/* Bod */
h1,
h2,
h3,
h4,
h5,
h6,
.button,
body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;

}

body {
    overflow-x: hidden;
}

.body {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;

    p {
        font-size: 14px !important;
        font-weight: 300;
    }

    @include breakpoint('small') {
        font-size: 65%;

        p {
            font-size: 14px !important;
        }
    }

    @include breakpoint('medium') {
        font-size: 75%;

        p {
            font-size: 14px !important;
        }
    }

    @include breakpoint('large') {
        font-size: 100%;

        p {
            font-size: 14px !important;
        }
    }
}

/* Utility */

.float-right {
    float: right;
}

strong {
    font-weight: 300;
}

/* Header */

.header {
    border-bottom: none;
}

.header #menu .navPages {

    a[href*='open-box'],
    a[href*='sale'] {
        color: red;
    }
}

#navHere>li:nth-child(8),
#navHere>li:nth-child(10) {
    display: none;
}

/* nu menu */

.mynav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.mynav li:not(:last-child) {
    margin-right: 20px;
}

.mynav a {
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: 300;
}

.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
}

.mynav a,
.target {
    transition: all .35s ease-in-out;
}

li.navPages-item a.navPages-action {
    text-transform: capitalize !important;
}

/*.header {
    background: none;
    height: 200px;
    position: absolute;
    right: 0;
    border-bottom: none;
    left: 0;
    @include breakpoint('small') {
        background: url(../img/site-images/header.png) center bottom no-repeat;
    }
    @include breakpoint('medium') {
        height: 315px;
    }
}*/


.header-logo {
    margin: 0;
    position: relative;
    width: 87%;
    margin: 0 auto;
    z-index: 10;

    @include breakpoint('large') {
        width: 60%;
    }


    img {
        position: relative;
        left: 30px;
        bottom: 0;

        @include breakpoint('medium') {
            left: 0;
            bottom: 23px;
        }
    }
}

.header-list3 {
    position: absolute;
    right: 20%;
}

.coupon-header {
    position: relative;
    float: right;
    top: 15px;
    display: none;

    a {
        color: #fff;
        text-decoration: none;
    }

    @include breakpoint('small') {
        display: block;
    }
}

//  on hover, open sub-menu
#menu .navPages ul.navPages-list>li.navPages-item:hover>a+div.navPage-subMenu {
    @include breakpoint('medium') {
        display: block;
        margin: 0px 0px 0px 0px;
        width: 35%;

    }

    @include breakpoint('large') {
        margin: 0px 0px 0px -75px;
        width: 25%;
    }
}

.navPage-subMenu-item {
    @include breakpoint('small') {
        width: 50%;
    }
}

.navPages {
    @include breakpoint('medium') {
        margin: 0 auto;
        max-width: 85.71429rem;
        width: 100%;
        background: 0 0;
        font-size: 0;
        overflow-y: visible;
        padding: 0;
        text-align: center;
    }
}

.navPages-container {

    display: none;

    @include breakpoint('medium') {
        background: 0 0;
        height: auto;
        padding: 0;
        position: relative;
    }

    @include breakpoint('large') {
        display: block;
    }
}

.navPages-container.is-open {
    overflow: scroll;
}

.navPage-subMenu {
    padding: 0;
}

.navPage-subMenu,
.navPages-action.is-open {
    background-color: #fff;
}

.navPages .navPage-subMenu-list {
    @include breakpoint('medium') {
        padding: 15px;
        border: 1px solid #CCC;
        display: block;
        float: left;
    }
}

#arrow {
    position: absolute;
    left: 10px;
}

.navPage-subMenu.is-open {
    display: block;
    left: inherit;
    width: inherit;
}


ul .navPage-subMenu-list:before {

    @include breakpoint('small') {
        position: absolute;
        display: inline-block;
        border-top: 9px solid transparent;
        border-right: 10px solid #CCC;
        border-bottom: 9px solid transparent;
        left: 36px;
        top: -4px;
        content: '';
        transform: rotate(-90deg);

    }

    @include breakpoint('large') {
        left: 110.009px;
    }
}

ul .navPage-subMenu-list:after {

    @include breakpoint('small') {
        position: absolute;
        display: inline-block;
        border-top: 8px solid transparent;
        border-right: 8px solid white;
        border-bottom: 8px solid transparent;
        border-right-color: white;
        left: 37px;
        top: -4px;
        content: '';
        transform: rotate(-90deg);
    }

    @include breakpoint('large') {
        left: 111px;
    }
}

// .navPages-action.has-subMenu.is-open {
//     padding: 15px;
// }

.navPages-action {
    font-weight: 300;

    &:hover {
        color: #f49b42;
    }

}

.navUser {
    height: 33px !important;
}

.navUser-action {
    text-transform: capitalize;
    font-weight: 300;
    padding: 1.3rem .78571rem;
}

.actionBar-section .form-field {
    width: 70%;

    @include breakpoint('small') {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.navPages-action {
    padding: .78571rem .7rem 1.14286rem;

    @include breakpoint('medium') {
        padding: .78571rem 1.4rem 1.14286rem;
    }
}

.navPages-action {
    font-size: 13px !important;
}

.navPages .navPage-subMenu-list {
    list-style: none;
    margin-left: 80px;

    @include breakpoint('small') {
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


.flex-wrap {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;

    @include breakpoint('small') {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

.navPages {
    width: 100%;
    overflow-y: auto;
    height: auto;
}

.header-list2 {
    float: right;
}

.form-prefixPostfix .form-input,
.form-prefixPostfix .button {
    display: block;
    width: auto;
    margin: 0;
}
/*-------------------------------- Logo Area -------------------------------------*/
.cart-item.nav-2 {
    @include breakpoint('large') {
        display:none;
}
}

.cart-item {
    border-bottom: 0px solid #fff;
}

.flex-parent-1 {
display: none;
flex-direction: row;
flex-wrap:nowrap;
justify-content: flex-start;
align-items: center;
height: 100%;
@include breakpoint('large') {
    display:flex;

                 }
}


div.flex-parent-1 div.flex-item{
width: 100%;
    }

/*------------------------- Right Column ----------------------------*/
.flex-parent-2 {
    display: none;
    flex-direction: column;
    height: 100%;
@include breakpoint('large') {
display: flex;
    }
    }

    .flex-parent-3 {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            max-height: 1.2rem; 

                     }

    div.flex-parent-3 div.flex-item-left a {
                    font-size: 24px;
                    color:#ffb947;
                    
                    }

    div.flex-parent-3 div.flex-item-right a {
                        font-size: 24px;
                        color:#ffb947;
                        
                        }

    .flex-parent-4 {

                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        max-height: 1.2rem;
                            display: flex;

                                 }


div.flex-parent-4 > div:nth-child(1) {
text-align:right;
}

div.flex-parent-4 div.flex-item a {
                                    font-size: 12px;
                                    color:#ffb947;
                                    
                                    }

.flex-parent-5 {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height:100%;
               /* max-height: 1.2rem;*/
    @include breakpoint('large') {
    display: none;
                        }
                        }

div.flex-parent-5 div.flex-item-3,div.flex-parent-5 div.flex-item-2,{
width:45%;
                        }

div.flex-parent-5 div.flex-item-3, div.flex-parent-5 div.flex-item-2{
text-align:right;
                        }

div.flex-parent-5 div.flex-item-3 span.cart-item{

                            padding-left:0px;
                            padding-top:0px;
                            padding-bottom:0px;

@include breakpoint('medium') {
                                display: none;
                                                    }
                                                    }

.nav-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 40%;
    position: absolute;
    right: 38px;
    top: 61px;
    z-index: 100;

    @include breakpoint('small') {
        right: 30px;
    }

    @include breakpoint('large') {
        width: 25%;
        right: 226px;
    }

    .cart-item {
        border-bottom: none;
        clear: both;
        display: block;
        padding: 0;
    }
}

.nav-wrap .fa {
    font-size: 24px;
}



.navUser,
.footer-banner {
    height: 40px;
    background: rgb(255, 185, 71);
    background:#ffb947;
   /*--background: linear-gradient(90deg, rgba(255, 185, 71, 1) 37%, rgba(255, 238, 210, 1) 100%);--*/
    -webkit-justify-content: center;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: space-around;
    align-content: space-around;
    display: none;

    @include breakpoint('medium') {
        display: flex;
    }

    ul li,
    ol li {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    span,
    a {
        font-weight: 300;
        text-align: left;
        position: relative;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 16px;
        text-align: left;
        margin: 5px;
        font-size: 12px;

        @include breakpoint('small') {
            font-size: 14px;
        }
    }

    a:hover {
        color: #757575;
    }
}

.navUser1 {
   /* flex-direction:row; */
    height: 40px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: right;
    -ms-flex-line-pack: distribute;
    /*align-content: space-around;*/
    display:none;

@include breakpoint('medium') {
    display:flex;
    }
}

.navUser1 div.navUser-item {
    margin-left:10px;
}


.flex-nav1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

.navUser2 {
    background-color: #fff;
    padding: 0 1.5rem;
    height: 3.8rem;
    width: 100%;
    right: auto;
    top: auto;
    transform: none;
    z-index: 50;

    a,
    span {
        color: #ffb947;
        transition: all ease .2s;

        &:hover {
            color: #666666;
        }
    }

    display: none;

    @include breakpoint('medium') {
        display: flex;
    }
}

/* Flip the truck */
.fa-truck {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.navUser-section.navUser-section--alt {
    display: flex;
    align-items: left;
    float: right !important;
    flex-direction:row-reverse;
    width:100%;
    @include breakpoint('medium'){
        width: unset;
    }
}

.social-links.clearfix {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero */
.hero-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://cdn11.bigcommerce.com/s-b03g7jlut8/product_images/uploaded_images/heronew2.jpg?t=1553782521) bottom no-repeat;
    height: 500px;

    h1 {
        text-transform: uppercase;
        position: absolute;
        left: 0;
        right: 0;
        top: 27%;
        font-size: 10em;
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        text-align: center;
        color: white;
        letter-spacing: 6px;
        font-size: 3em;

        @include breakpoint('small') {
            font-size: 4em;
            top: 41%;
        }

        @include breakpoint('medium') {
            top: 39%;
        }
    }

    a {
        text-transform: uppercase;
        position: absolute;
        left: 0;
        right: 0;
        top: 90.5%;
        bottom: 0;
        text-align: center;
        color: white;
        font-size: 20px;
        text-decoration: none;
        width: 25%;
        margin: 0 auto;

        &:hover {
            color: #000000;
        }
    }

    img {
        position: relative;
        display: block;
    }
}

/* CTAs */
.brandlink {
    text-align: center;
    padding: 20px 0px;
}
.tradesectionone {
    
        width: 50%;
}
.tradesectiontwo {
    
        width: 65%;
}
.cta {
    position: relative;
    text-align: center;
    margin: 10px;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;
        right: 0;
        color: #666;
        text-transform: uppercase;
        font-size:18px;
        text-shadow: #fff 2px 0 2px;
        z-index: 5;
        bottom:25%;
        background: rgba(248, 247, 247, 0.2);
    }

    span:hover {
        background: rgba(248, 247, 247, 0.7)

    }

    img {
        -webkit-transition: ease .2s;
        -moz-transition: ease .2s;
        -ms-transition: ease .2s;
        -o-transition: ease .2s;
        transition: ease .2s;
        z-index: 1;

        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        box-shadow: 0px 8px 8px -7px rgba(0, 0, 0, 0.4);

        &:hover {
            box-shadow: 0px 28px 28px -14px rgba(0, 0, 0, 0.4);
            transform: translateY(-4px);
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

    }

    h1 {
        font-size: 28px;
        text-transform: uppercase;
        margin-top: 1.28571rem;

        @include breakpoint('small') {
            margin-top: initial;
        }
    }

}

.banners {
    background-color: #fff;

    p {
        color: #000000;
    }

    a {
        color: #000000;
    }
}

.banner-flex .cta span {
    top: 81%;
    color: #000000;
    font-size: 30px;

    @include breakpoint('small') {
        font-size: 18px;
    }

    @include breakpoint('medium') {
        font-size: 30px;
    }
}

.breadcrumbs {
    margin-top: 2rem;
}

.banner1 {
    background: url('../img/lightopia-photos/banner1.jpg') center bottom no-repeat;
    height: 1190px;
    background-repeat: repeat;

    @include breakpoint('small') {
        height: 580px;
        background-repeat: no-repeat;
    }
}

.top-ctas {
    padding: 25px;
}

.top-ctas {
    padding: 25px;
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);

    .flex-wrap {
        flex-wrap: wrap;

        @include breakpoint('large') {
            flex-wrap: nowrap;
        }
    }
}

.top-ctas,
.bottom-ctas {
    padding: 25px;
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);

    .flex-wrap {
        flex-wrap: wrap;

        @include breakpoint('large') {
            flex-wrap: nowrap;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            font-weight: 400;
            padding: 1em;
        }
    }
}

.bottom-ctas {
    background-color: #ffca8e;
}

/* Cards */
.productGrid .product {
    @include breakpoint(large) {
        width: 20%;
    }
}

/* Banners */
.banner-wrap {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);

    h1 {
        position: relative;
        text-transform: uppercase;
        color: white;
        font-size: 30px;
    }

    a {
        text-decoration: none;
        margin-bottom: 40px;

        @include breakpoint('small') {
            margin-bottom: initial;
        }
    }

    img {
        position: relative;
        display: block;
    }

    .content-wrap,
    .card-wrap {
        text-align: center;
        margin: 0 4em;

        .content1 {
            color: #f29b36;
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
            margin: 40px 0 0 0;
            line-height: 1;
            font-size: 30px;

            @include breakpoint('small') {
                margin: 0;
                font-size: 3em;
            }
        }

        .content2 {
            font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
            margin: 0 auto 20px auto;
            font-size: 40px;
            line-height: 1;

            @include breakpoint('small') {
                margin: 0 auto 50px auto;
                font-size: 4em;
            }

            @include breakpoint('large') {
                line-height: .8;
            }

        }
    }
}

.banner-wrap2 {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);

    h1 {
        position: relative;
        text-transform: uppercase;
        color: white;
        font-size: 1em;
        width: 100%;
        margin: 5px 0;
        letter-spacing: 3px;
        font-weight: 400;

        @include breakpoint('small') {
            letter-spacing: 6px;
            margin-top: inherit;
            font-size: 2em;
            width: 80%;
            margin: 0 auto 20px auto;
        }

        @include breakpoint('medium') {
            font-size: 3em;
            width: 80%;
        }

        @include breakpoint('large') {
            width: 50%;
        }
    }

    a {
        position: relative;
        left: 0;
        right: 0;
        top: 10%;
        bottom: 0;
        font-size: 1em;
        text-align: center;
        color: white;
        padding: 0.25714rem 1.28571rem;

        @include breakpoint('small') {
            padding: 0.85714rem 2.28571rem;
        }
    }

    img {
        position: relative;
        display: block;
    }

    .content-wrap,
    .card-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0;
        text-align: center;

        @include breakpoint('small') {
            top: 19%;
        }

        @include breakpoint(medium) {
            top: 30%;
        }

        .content1 {
            color: #f29b36;
        }
    }
}

.orange {
    background: #ffca8e;
    border: none;
    border-radius: 0;
}

.clear {
    background: none;
    border: #fff 2px solid;
    border-radius: 0;
}

.banner-flex {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4%;
    left: 0;
    margin: 0 auto;
    right: 0;
    flex-wrap: wrap;

    @include breakpoint('small') {
        flex-wrap: nowrap;
        top: 20%;
    }
}

.button--primary {
    background-color: #ffb947;
    border-color: #ffb947;
    color: black;
}

/* Product Page */

.breadcrumb.is-active>.breadcrumb-label {
    color: #ffb947;
}

.socialLinks .icon svg {
    fill: #ffb947;
}

.productView-price {
    color: #ffb947;
}

/* Featured */
.page-heading {
    margin: 3rem 0;
    text-align: center;

    @include breakpoint('small') {
        text-align: left;
    }
}

/* Footer */
.footer {
    background-color: #fff;
    border-top: #999;
    padding: 1rem 0;
}

.footer-copyright>.powered-by {
    color: #fff;
}

.footer-copyright a {
    color: #fff;
    text-decoration: none;
}

.footer-info-list a {
    color: #666;
}

.footer-banner {
    padding: 50px 0;

    a {
        font-size: 25px;
    }
}

.footer-info-heading {
    color: #666;
    padding-top: 20px;
    border-top: #ffca8e 1px solid;
}

.footer-info-col {
    color: #666 !important;
}

.company-quote {
    width: 100%;
    margin: 0 auto;

    @include breakpoint('medium') {
        width: 75%;
    }
}

.houzz-logo {
    max-width: 70px;
}

.yelp-logo {
    max-width: 170px;
}

.sub-footer {
    /* background: #ffca8e;*/
    background: #ffb947;
    /*background: linear-gradient(90deg, #ffb947 37%, #ffeed2 100%);*/

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul.social-links.clearfix {
        margin-top: 15px;
        width: 180px;

        .social-link {
            list-style: none;

            a {
                color: white;

                &:hover {
                    color: #444;
                }
            }

        }
    }
}

.footer-info2 {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint('medium') {
        flex-wrap: nowrap;
    }

    .footer-info-heading {
        color: #666;
        padding-top: 20px;
        border-top: none;

        a {
            text-decoration: none;
        }
    }
}

.col-sm-3 {
    width: 100%;
    float: left;
    padding: 0px 10px;

    @include breakpoint('medium') {
        width: 20%;
    }
}

.col-sm-6 {
    width: 100%;
    float: left;
    padding: 0px 10px;

    @include breakpoint('medium') {
        width: 50%;
    }
}

.col-sm-5 {
    width: 100%;
    float: left;
    padding: 0px 10px;

    @include breakpoint('medium') {
        width: 40%;
    }
}

.col-sm-8 {
    width: 100%;
    float: left;
    padding: 0px 10px;

    @include breakpoint('medium') {
        width: 75%;
    }
}

.col-sm-12 {
    width: 100%;
    float: left;
    padding: 0px 10px;
margin-bottom:20px;
}


.search-wrap {
    display: flex;
    position: relative;
    bottom: -22px;

    .form-input,
    .button {
        border-radius: 0;
    }

    span {
        margin-right: 27px;
        position: relative;
        left: 10px;
        top: 8px;
    }
    input#search_query_adv {
    max-width: 145px;
}
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    .footer-logo img {
        width: 215px;
    }

    a {
        text-decoration: none;
    }
}

.footer-info-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    .footer-logo img {
        width: 215px;
    }

    a {
        text-decoration: none;
    }
}


/*---  Email Signup ----*/
.email-signup {
    padding-bottom: 33px;
    background: #fff;
    text-align: center;
    padding-top: 25px;

    @include breakpoint('medium') {
        text-align: left;
        padding-bottom: 120px;
    }

    @include breakpoint('large') {
        padding-bottom: 80px;
    }

}

div.email-signup fieldset {
    border: 0;
}

form.signup-form {
    @include breakpoint('small') {
        width: 100%;
    }

    @include breakpoint('medium') {
        width: 60%;
        float: right;
        text-align: right;
    }
}

.email-signup fieldset {
    border: 0;
}


.form-title {
    font-size: 22px;
    font-weight: 300;

    p {
        margin: 0;
    }

    span {
        font-size: 14px;
    }

    @include breakpoint('small') {
        width: 100%;
    }

    @include breakpoint('medium') {
        width: 40%;
        float: left;
        text-align: left;
        line-height: 1.9rem;
    }
}

form.signup-form input {
    padding: 5px 5px;
    border-radius: 3px;
    width: 100%;
    border: 1px #444 solid;
    margin-top: 20px;

    @include breakpoint('small') {
        width: initial;
        margin-top: initial;
    }
}


form.signup-form button {
    padding: 4px 50px;
    background: #444;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;

    @include breakpoint('small') {
        width: 93%;
        margin-top: 20px;
    }

    @include breakpoint('medium') {
        width: initial;
        margin-top: initial;
    }

}

.tradeprogram {
 .tradesection {
  padding:10px;   
 }   
}
